// **********************************************
// MOJE *****************************************
// **********************************************
$black: #000000;
$white: #ffffff;
$orange: #ecc200;

$menu-width: 65px;
$menu-height: 60px;
