<aside class="[ nav-side ] [ px-1 ] [ d-flex flex-nowrap flex-row flex-lg-column ]">
    <button class="navbar-toggle-main navbar-toggle-arrow collapsed" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- pagination -->
    <div class="pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="page-controls">
        <button class="page-prev" aria-label="Previous page" role="navigation"><i class="icon ion-ios-arrow-left"></i></button>
        <span class="d-inline-block d-lg-none">Page</span>
        <button class="page-next" aria-label="Next page" role="navigation"><i class="icon ion-ios-arrow-right"></i></button>
    </div>
</aside>

<nav id="nav-main" class="[ nav-body collapse ] [ text-center ]">
    <ul class="[ navbar-nav ] [ w-100 ]" data-offset="30">
        <li class="nav-item" data-offset="20">
            <a href="#home">
                HOME
                <span class="mask"><span>HOME</span></span>
                <span class="mask"><span>HOME</span></span>
            </a>
        </li>
        <li class="nav-item" data-offset="15">
            <a href="#skills">
                MY SKILLS
                <span class="mask"><span><a href="#skills">MY SKILLS</a></span></span>
                <span class="mask"><span><a href="#skills">MY SKILLS</a></span></span>
            </a>
        </li>
        <li class="nav-item" data-offset="10">
            <a href="#portfolio">
                PORTFOLIO
                <span class="mask"><span><a href="#portfolio">PORTFOLIO</a></span></span>
                <span class="mask"><span><a href="#portfolio">PORTFOLIO</a></span></span>
            </a>
        </li>
        <li class="nav-item" data-offset="5">
            <a href="#contact">
                CONTACT
                <span class="mask"><span><a href="#contact">CONTACT</a></span></span>
                <span class="mask"><span><a href="#contact">CONTACT</a></span></span>
            </a>
        </li>
    </ul>
</nav>
